*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fadeIn {
  animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}
