.posters {
  color: white;
  width: 95%;
}

.posters-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}


.img-container {
  padding: 25px; /*set imgsize*/
  display: block;
  flex: 0 0 16.66666667%;
  max-width: 0 0 16.66666667%;

}

.img-details {
  /* margin: auto; not sure why no work*/
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  transition: transform 300ms;
}

.img-details:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.img-details:active {
  transform: scale(1.02);
}

.img-poster {
  width: 100%;
  object-fit: contain;
}



@media (max-width: 768px) {
  .img-container {
    display: block;
    flex: 0 0 25%;
    max-width: 0 0 25%;
  }
}





