.hero {
    background-size: cover;
    background-position: center center;
    height: 500px;
}


.fade {
    height: 32rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    )
}

