.tasbs-section {
  margin: 0
}

.tabss {
  position: relative;
  /* background-color: red; */
  margin: auto;
}

.tasbs .tabs-header {
  display: flex;
  /* position: relative */
}


.tasbs .tabs-header div {
  cursor: pointer;
  color: white;
  font-size: 2em;
  position: relative;
  padding: 0px 20px;
  text-align: center;
  z-index: 99;
  transition: all 300ms ease
}

.tabs-header .special {
  display: block;
}


.tabss .tabs-slider {
  position: absolute;
  left: 0;
  width: calc(40% - 5px);
  height: 30px;
  background: lightcoral;
  top: 10px;
  border-radius: 10px;
  transition: all 300ms ease-in-out
}
